
.footer{
    position: relative;
    background-color: #0A2850;
    margin: 0;
    padding: 60px 80px;
    color: #ffffff;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/*====imagem-tripleten====*/
.footer__logo{ 
    position: relative;
    background-image: url(../images/logo_coffeeshop_light.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 105px;
    height: 39px;
    z-index: 1;
}
/*====bola-azul-de-fundo====*/
.footer__circle{
    position: absolute;
    width: 340px;
    height: 340px;
    background-color: #2F80ED;
    border-radius: 100%;
    top: -128px;
    left: -44px;
    z-index: 0;
}

.footer__social{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer__social-heading{
    padding: 0;
    margin: 0 0 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.footer__list{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    list-style-type: none;/*remove os pontos da lista*/
    margin: 0;
    padding: 0;
}

.footer__list-item{
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
    margin: 0;
    padding: 0;
}

.footer__social-link{
    color: #ffffff;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.footer__social-link:focus{
    color: #c1c1c1;
}

.footer__social-link:hover{
    opacity: 70%;  
    text-decoration: underline;
}

.footer__social-icon{
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
}

.footer__copyright{
    padding: 100px 0 0;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
