.form{
    display: flex;
    flex-direction: column;
    padding: 0;
    
}

.form__fieldset{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: none;
    
}

.form__label{
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__input{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin: 8px 0 32px;
    padding: 15px 20px;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

input::placeholder {
  color: #999;
}
/*====Button===*/
.form__button{
    cursor: pointer;/*muda o cursor quando passa o mouse encima*/
    padding: 0;
    margin-bottom: 32px;
    max-width: 385px;
    height: 60px;
    background-color: #2f80ed;
    color: #ffffff;
    border: none;
    border-radius: 4px; /*arredonda as bordas*/
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__button:hover{ /*transparencia do botão quando passa o mouse*/
    opacity: 70%;
}

.form__label-checkbox{
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    column-gap: 12px;
}

.form__checkbox{
    cursor: pointer;
    appearance: none; /*Remove a aparência padrão do navegador - Permite estilização completa*/
    border-radius: 2px; 
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 1px solid #000000;
}

.form__checkbox:checked{ /*Ativado quando checkbox está marcado*/
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2F80ED;
    background-size: 12px;
}