.nav{
    position: relative;  
    padding: 0;
    margin: 0;
}
/*====imagem====*/
.nav__logo{
    position: absolute;
    top:30px;
    left: 30px;
    width: 105px;
    height: 39px;
    padding: 0;
    margin: 0;
}
/*====logo====*/
.nav__link{
    position: absolute;
    top:30px;
    right: 80px;
    display: flex;
    flex-direction: row;
    list-style-type: none;/*remove os pontos da lista*/
    align-items: center;
    column-gap: 20px;
    padding:0;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__links{
    color: #000000;
    text-decoration: none;
}

.nav__links:hover { /*adiciona __ nos links*/
  color: #2f80ed;
  text-decoration: underline;
}