.recipes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(../images/background_recipes.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0a2750;
    background-size: cover;
    color: #ffffff;
}

.recipes__title{
    max-width: 580px;
    margin: 100px 0 0 80px ;
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.recipes__subtitle{
    max-width: 438px;
    margin: 24px 0 0 80px ;
    padding: 0;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px
}

.recipes__videos{
    margin: 80px auto 215px auto;
    display: flex;
    column-gap: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px
}

.recipes__video-item{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin: 80px auto 215px auto;
}

.recipes__iframe{
    width: 480px;
    height: 273px;
    border: none;
    margin: 0;
    padding: 0;

}

.recipes__video-caption{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px
}