/*====skin-formulário====*/
.reservation{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-image: url(../images/background_reservation.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #D9E7FF;
    color: #000000;
    padding: 100px 0 0 ;
}
/*====formulário====*/
.reservation__title{
    margin: 0 auto 80px;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form{
    margin: 0px auto 120px;
    max-width: 385px;
}
