.page{
    min-width: 1100px;
    max-width: 1600px;
    margin: auto;
    font-family: "Inter", Arial, sans-serif,"Noto Serif", "Times New Roman", serif; 
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
}

* {
    scroll-behavior: smooth; /* Scroll suave para toda a página */
}

 /*=HEADER=*/
.header{
    position: relative;  
    min-height: 720px;
    max-height: 800px;
    height: 100vh;      /* 100% da janela de visualização */
}

.nav{
    position: relative;  
    padding: 0;
    margin: 0;
}

.nav__logo{
    position: absolute;
    top:30px;
    left: 30px;
    width: 105px;
    height: 39px;
    padding: 0;
    margin: 0;
}

.nav__link{
    position: absolute;
    top:30px;
    right: 80px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    column-gap: 20px;
    padding:0;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__links{
    color: #000000;
    text-decoration: none;
}

.nav__links:hover { /*adiciona __ nos links*/
  color: #2f80ed;
  text-decoration: underline;
}

.header__title{
    display: flex;
    position: relative;
    flex-direction: column;
    top:252px;
    left: 80px;
    max-width: 709px;
    padding: 0;
    margin-top: 0;
}

.header__span-accent{
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #2F80ED;
}

.header__span-accent-black{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: -1px;
}

.header__description{
    position: relative;
    top:252px;
    left: 80px;
    max-width: 683px;
    padding: 0;
    margin: 28px 0 0 0;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px
}

.header__image{
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 568px;
    padding: 0;
    margin-top: 0;
}

.header__footer{
    position: absolute;
    list-style-type: none; /*remove os pontos da lista*/
    left: 80px;
    bottom: 40px;
    margin: 0;
    padding: 0;
}

.header__paragraph{
    position: absolute;
    right: 80px;
    bottom: 40px;
    margin: 0;
    padding: 0;
}

.header__footer-font{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383
}
/*=MAIN=*/
.content{
    
}

.recipes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(../images/background_recipes.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0a2750;
    background-size: cover;
    color: #ffffff;
}

.recipes__title{
    max-width: 580px;
    margin: 100px 0 0 80px ;
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.recipes__subtitle{
    max-width: 438px;
    margin: 24px 0 0 80px ;
    padding: 0;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px
}

.recipes__videos{
    margin: 80px auto 215px auto;
    display: flex;
    column-gap: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px
}

.recipes__video-item{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin: 80px auto 215px auto;
}

.recipes__iframe{
    width: 480px;
    height: 273px;
    border: none;
    margin: 0;
    padding: 0;

}

.recipes__video-caption{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px
}

.reservation{

}

.footer{

}