.page{
    min-width: 1100px;
    max-width: 1600px;
    margin: auto;
    font-family: "Inter", Arial, sans-serif,"Noto Serif", "Times New Roman", serif; 
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
}

.header{
    display: flex;
    flex-direction: column;

}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 30px 80px 0px 30px;
}

.nav__logo{
    width: 105px;
    height: 39px;
}

.nav__link{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    column-gap: 20px;
    padding:0;
    margin: 0;
}

.nav__links{
    color: #000000;
    text-decoration: none;
}

.nav__links:hover {
  color: #2f80ed;
  text-decoration: underline;
}

.header__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0px 5px 0 80px;
}

.header__content-cards{
    display: flex;
    flex-direction:column;
    padding: 0;
    margin-top: 183px;
    row-gap: 28px;
}

.header__title{
    display: flex;
    flex-direction: column;
    max-width: 709px;
    padding: 0;
    margin: 0;
}

.header__span-accent{
    font-style: italic;
    font-weight: normal;
    color: #2F80ED;

}

.header__descripition{
    max-width: 683px;
    padding: 0;
    margin: 0;
}

.header__image{
    width: 646px;
    height: 568px;
    padding: 0;
    margin-top: 124px;
}

.recipes{

}

.reservation{

}

.footer{

}